{{navbar-home fb=model.fb}}
<article class="profile">
    <div class="profile__header">
        <div class="container">
            <div class="profile__divider">
                <img class="profile__photo" src="#" alt="Imagem de perfil">
                <div class="profile__infos">
                    <h2 class="profile__name">Kevin Dantas</h2>
                    <h5>Área de Atuação:</h5>
                    <h4>{{model.atuacao.nome}}</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="profile__bio">
        <div class="container">
            <div class="profile__divider">
                <h2>Biografia</h2>
                <p style="text-align: justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, nisi perferendis sapiente aperiam aliquam
                    maiores doloremque veniam a, assumenda magnam quibusdam placeat, obcaecati in reprehenderit reiciendis
                    eius alias consequatur soluta.Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, nisi perferendis
                    sapiente aperiam aliquam maiores doloremque veniam a, assumenda magnam quibusdam placeat, obcaecati in
                    reprehenderit reiciendis eius alias consequatur soluta.
                </p>
            </div>
        </div>
    </div>
</article>
{{footer-home}}