@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import "index.scss";
<<<<<<< HEAD

//Components//
=======
@import "home.scss";
>>>>>>> 0b63765585f80149ea6deb8f3253567923f8e36c
@import "./components/navbar-content.scss";
@import "./components/footer-component.scss";

//Images//
@import "./images/image.scss";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
html, body{
    width: 100%;
    height: 100%;
    font-family: "Arial", Sans-Serif;
    align-content: center;
}
