@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
//Main files
@import "index.scss";
@import "home.scss";
@import "login.scss";

//components
@import "./components/navbar-content.scss";
@import "./components/footer-component.scss";
@import "./components/form-login.scss";
@import "./components/form-sign.scss";

//Images//
@import "./images/image.scss";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
html, body{
    width: 100%;
    height: auto;
    font-family: "Arial", Sans-Serif;
    align-content: center;
}
