.homeHeader{
    display: inline-block;
}
.homeBody{
    display: inline-block;
    background-color: blue;
}
.homeFooter{
    background-color: red;
    display: inline-block;
}
.eventoGrid{
    display: inline-block;
}