.home__body{
    width: 100%;
    height: auto;
}

.input__search{
    width: 60%;
    height: 35px;
    margin: 5% 20% 10% 20%;
    border: 5px solid darkgray;
}

.home__footer{
    span{
        margin-top: 10px;
        display: block;
    }
    width: 100%;
    height: 40px;
    background-color:#08A6A6;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title__post{
    width: 55%;
    margin-left: 5%;
    margin-bottom: 8%;
    color: darkgray;
}

.title__event{
    width: 25%;
    height: auto;
    margin: 8% auto 5% 5%;
    color: darkgray;
}
