.home__body{
    width: 100%;
    height: auto;
}

.input__search{
    width: 80% ;
    height: 35px;
    margin: 3rem auto;
    border: 2px solid #07a5a6;
    padding: 22px 16px;
    display: block;
    font-size: 16px;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
    transition: 0.2s;

    &:focus {
        border-color: #b4cd56;
        transform: scale(1.03);
    }
}

.home__footer{
    span{
        margin-top: 10px;
        display: block;
    }
    width: 100%;
    height: 40px;
    background-color:#08A6A6;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title__post{
    width: 80%;
    margin: 2rem 3rem;
    font-size: 26px;
    color: darkgray;
}

.title__event{
    width: 25% ;
    height: auto ;
    margin: 8% auto 5% 5% ;
    font-size: 26px;
    color: darkgray;
}


@media screen and (min-width: 1440px){
    .input__search{
        width: 45%;
    }

    .title__post{
        width: 17%;
        margin: 2.5% auto;
        text-align: center;
    }
    
    .title__event{
        width: 17%;
        text-align: center;
        margin: 2.5% auto;
    }

    .home__footer{
        span{
            margin-top: 15px;
            display: block;
        }
        width: 100%;
        margin: 2.95% auto 0 auto;
        height: 40px;
        background-color:#08A6A6;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}