#inputLogin{
    display: inline;
}
#username_input{
    border: none;
    border-bottom: 1px grey solid;
    margin: 5px;
}
#password_input{
    border: none;
    border-bottom: 1px grey solid;
}
#buttonLogin{
    display: inline;
}
#enter_button{
    color: white;
    background-color: #08A6A6;
}
#register_button{
    color: white;
    background-color: #08A6A6;
}
#fbLogin{
    display: inline;
    align-content: center;
}
