{{navbar-content}}
<main class="index">
    <img src="../img/voluntariado 03.jpg" alt="Açao_Voluntariado" class="image-home">
    <div class="index__main">
        <h1 class="title__index">Para você que faz a diferença</h1>
    </div>
    <div class="icons">
        <div class="icons__block">
            <i class="fa fa-search icon"></i>
            <span class="icon__text">Cadastrar</span>
        </div>
        <div class="icons__block">
            <i class="fa fa-search icon"></i>
            <span class="icon__text">Cadastrar</span>
        </div>
    </div>
    <div class="icons">
        <div class="icons__block">
            <i class="fa fa-search icon"></i>
            <span class="icon__text">Cadastrar</span>
        </div>
        <div class="icons__block">
            <i class="fa fa-search icon"></i>
            <span class="icon__text">Cadastrar</span>
        </div>
    </div>
</main>
{{footer-component}}