{{navbar-content}}
<main class="index">
    <img src="../img/voluntariado 03.jpg" alt="Açao_Voluntariado" class="image-home">
    <div class="index__main">
        <h1 class="title__index">Para você que faz a diferença</h1>
    </div>
</main>
{{footer-component}}
