<<<<<<< HEAD
<header>
    <div class="home_novousuario">
        <div class="home_login">
            <button>Sou Voluntário</button>
        </div>
        <div class="home_login">
            <button>Sou Instituição</button>
        </div>
    </div>
    <div class="home_usuario">
        <div class="home_login">
            <button>Meu Login</button>
        </div>
    </div>
</header>
<main>
    <img src="img/voluntariado 03.jpg" alt="Açao_Voluntariado">
    <div class="home_main">
        <h1>Para você que faz a diferença</h1>
    </div>
</main>
=======
<h2>index</h2>
{{#link-to 'signin' tagName="button"}}Cadastre-se{{/link-to}}
{{outlet}}
>>>>>>> 55b6bedeefb2d1d61f7b9fcc1c263a07056d508d
