{{navbar-content}}
<main class="index">
    <img src="../img/voluntariado 03.jpg" alt="Açao_Voluntariado" class="image-home"
     srcset="../img/voluntariado 03 small.jpg 100w, ../img/voluntariado 03 medium.jpg 500w, ../img/voluntariado 03.jpg 1000w"
     sizes="<max-width = 425px> <100w>,
            <max-width = 768px> <500w>,
            <max-width = 1023> <1000w>,">
    <div class="index__main">
        <h1 class="title__index">Para você que faz a diferença</h1>
    </div>
    <div class="icons">
        <div class="icons__block">
            <i class="fa fa-address-card icon"></i>
            <span class="icon__text">Cadastre-se</span>
        </div>
        <div class="icons__block">
            <i class="fa fa-search icon"></i>
            <span class="icon__text">Pesquise</span>
        </div>
    </div>
    <div class="icons">
        <div class="icons__block">
            <i class="fa fa-certificate icon"></i>
            <span class="icon__text">Participe</span>
        </div>
        <div class="icons__block">
            <i class="fa fa-share-alt icon"></i>
            <span class="icon__text">Compartilhe</span>
        </div>
    </div>
</main>
{{footer-component}}