<div class="cards__container">
{{#each evento as |eventos|}}
    <article class="events">
        <div class="events__timeline">
            <div class="events__date">
                <div class="events__date--day">
                    <h3>03</h3>
                    <span>ABR</span>
                </div>
                <div class="events__date--time">
                    08h30
                </div>
            </div>
            <img class="img__ong" src="../img/evento_voluntariado_2.jpg" alt="Foto ONG">
            <div class="card__infos">
                <p class="post__name">{{eventos.nome}}</p>
                {{#link-to 'events.description' eventos.id}}<span class="post__visit">Ver evento</span>{{/link-to}}
            </div>
        </div>
    </article>
{{/each}}
</div>