<div class="cards__container">
    <article class="events">
        <div class="events__timeline">
            <img class="img__ong" src="../img/evento_voluntariado_2.jpg" alt="Foto ONG">
            <div class="card__infos">
                <p class="post__name">{{evento}}</p>
                {{#link-to 'events'}}<span class="post__visit">{{visit}}</span>{{/link-to}}
            </div>
        </div>
    </article>
</div>