 {{navbar-home model=model}}
<section class="home__body">
    {{component-search}}
    <h3 class="title__post">Encontre uma ONG</h3>
    {{post-box post=model}}
    <h3>Eventos</h3>
</section>

<footer class="home__footer">
    <span><i class="fa fa-home"></i></span>
    <span><i class="fa fa-bell"></i></span>
    <span><i class="fa fa-comment"></i></span>
    <span><i class="fa fa-map-marker"></i></span>
    <span><i class="fa fa-user"></i></span>
</footer>