.navbar__home{
    width: 100%;
    height: auto;
    background: #08A6A6;
    border-top: 2px solid #fff;
    z-index: 2;
}
.navigation__items--home{
    list-style: none;
    display: inline-block;
    font-weight: bold;
    color: white;
}

.home__list--main{
    font-weight: bold;
    color: white;
}

.home__list--exit{
    margin-left: 50px;
    font-weight: bold;
    color: white;
}

.menu__home{
    height: 40px;
    padding: 10px 0;
    display: inline-block;
}

.image__logo--mobile{
    width: 40px;
    height: 40px;
    margin: 0 40px 0 10px;
    border-radius: 20px;
    display: block;
}

.image__logo--desk{
    display: none;
}

@media screen and (min-width: 1440px){
    .navigation__items--home{
        width: 100%;
        list-style: none;
        display: inline-block;
    }

    .image__logo--desk{
        width: 40px;
        height: 40px;
        margin: 0px 10px;
        border-radius: 20px;
        display: block;
    }

    .image__logo--mobile{
        display: none;
    }

    .home__list--profile{
        margin-left: 75%;
        margin-right: 2.5%;
        font-weight: bold;
        color: white;
    }
    
    .home__list--exit{
        margin-left: 80px;
        font-weight: bold;
        color: white;
    }
    
    .menu__home{
        height: 40px;
        padding: 10px 0;
    }

}