.post__timeline{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
}

.img__ong{
    width: 120px;
    height: 80px;
    display: block;
}

.post__name{
    width: 40%;
    text-align: left;
    color: black;
}