<header class="navbar__home">
    <nav class="navigation__home">
        <ul class="navigation__items--home">
            {{#link-to 'home' tagName="li" class="menu__home home__list--main"}}<img class="image__logo--desk" src="/img/AGIR.png" alt="Logo">{{/link-to}}
            {{#link-to 'profile.my' tagName="li" class="menu__home home__list--profile"}}
                <div class="navigation__user--infos">
                    <img class="image__logo--mobile" src="../img/perfil_1.jpg" alt="Foto Perfil">
                    <span class="navigation__user--name">{{fb.name}}</span>
                </div>
            {{/link-to}}
            <li class="menu__home home__list--exit">
                <span {{action 'logout'}}>Sair</span>
            </li>
        </ul>
    </nav>
</header>