<div id="inputLogin">
    <input data-test-identification id="username_input" type="email" placeholder="Email">
    <input data-test-password id="password_input" type="password" placeholder="Senha">
</div>
<div id="buttonLogin">
    {{#link-to 'home'}}
    <button data-test-loginButton id="enter_button"> Entrar </button>
    {{/link-to}}
    <a href="http://www.uol.com.br"> Esqueceu a senha? </a>
    <button id="register_button"> Cadastre-se Agora </button>
</div>
<div id="fbLogin">
    Ou entrar com
    <a data-test-facebook href="https://facebook.com"><i class="fa fa-facebook-square"></i></a>
</div>
{{!--
<form action="">
    {{input data-test-identification id="identification" type="text"}}
    <label for="identification">Usuário:</label>

    {{input data-test-password id="password" type="password"}}
    <label for="password">Senha:</label>

    {{#link-to 'home'}}
    <button data-test-loginButton type="submit">Login</button>{{/link-to}}
</form> --}}