<div id="inputLogin">
    <input id="username_input" type="email" placeholder="Email">
    <input id="password_input" type="password" placeholder="Senha">
</div>
<div id="buttonLogin">
    <button id="enter_button"> Entrar </button>
    <a href="http://www.uol.com.br"> Esqueceu a senha? </a>
    <button id="register_button"> Cadastre-se Agora </button>
</div>
<div id="fbLogin">
    Ou entrar com
    <i class="fab fa-facebook-square"></i>
</div>
{{!-- <form action="">
    {{input data-test-identification id="identification" type="text"}}
    <label for="identification">Usuário:</label>

    {{input data-test-password id="password" type="password"}}
    <label for="password">Senha:</label>

    {{#link-to 'home'}}<button data-test-loginButton type="submit">Login</button>{{/link-to}}
</form> --}}
