{{navbar-content}}
<div id="login">
    {{form-login authenticate=(action 'alerta')}}
<p style="color: darkgray; font-weight: bold">Ou</p>
    {{fb-login logar=(action "onClick")}}
    <p><a href="http://www.uol.com.br">Esqueceu a Senha?</a></p>
    <button class="login signin">Cadastre-se agora</button>
</div>