{{navbar-content}}
<div id="login">
    {{form-login alertar=(action 'alerta')}}
    <p class="divisor">Ou</p>
    {{fb-login logar=(action "onClick")}}
    <p><a href="http://www.uol.com.br">Esqueceu a Senha?</a></p>
    <button class="login signin">Cadastre-se agora</button>
</div>