<div id="login">
    <form action="login">
        <input id="username" type="email" placeholder="Email">
        <input id="password" type="password" placeholder="Senha">
        <button class="button">Entrar</button>
        <p>
            <a href="http://www.uol.com.br">Esqueceu a Senha?</a>
        </p>
        <button class="button">Cadastre-se agora</button>
        <div class="info">Ou</div>
        <div class="info">Entrar com a sua conta</div>
        <div class="infoFB">
            <i class="fa fa-facebook-square"></i>
        </div>
    </form>
</div>
{{outlet}}
{{!--
<form action="">
    {{input data-test-identification id="identification" type="text"}}
    <label for="identification">Usuário:</label>

    {{input data-test-password id="password" type="password"}}
    <label for="password">Senha:</label>

    {{#link-to 'home'}}
    <button data-test-loginButton type="submit">Login</button>{{/link-to}}
</form> --}}