<header>
    <nav>
        <ul>
            <li class="home">Agir</li>
            <li class="menu">Contato</li>
            <li class="menu">Sobre</li>
            <li class="menu cadastrar">Cadastrar</li>
        </ul>
    </nav>
</header>