<header class="navbar">
    <nav class="navigation">
        <ul class="navigation__itens">
            {{#link-to data-test-index 'index'}}<li class="home">Agir</li>{{/link-to}}
            {{#link-to data-test-contact 'contact'}}<li class="menu">Contato</li>{{/link-to}}
            {{#link-to data-test-about 'about'}}<li class="menu">Sobre</li>{{/link-to}}
            {{#link-to data-test-signin 'signin'}}<li class="menu cadastrar">Cadastrar</li>{{/link-to}}
            {{#link-to data-test-login 'login'}}<li class="menu login">Login</li>{{/link-to}}
        </ul>
    </nav>
</header>