<form>
    {{input data-test-identification class="form-input" name="email" id="email" value=email type="email" placeholder="Email"}}
    {{input data-test-password class="form-input" name="senha" id="senha" type="password" value=senha placeholder="Senha"}}
    <button data-test-loginButton class="login login__button" {{action 'authenticate'}}>Entre na sua conta</button>
</form>
