<form>
    {{input data-test-identification class="form-input" id="identification" type="email" placeholder="Email"}} 
    {{input data-test-password class="form-input" id="password" type="password" placeholder="Senha"}} 
    <button data-test-loginButton class="login login__button" {{action 'alertar'}}>Entre na sua conta</button>    
</form>