<section class="events">
    <div class="events__timeline">
        <h3 class="events__description">Evento: {{evento}}</h3>
        <img class="img__ong" src="../img/evento_voluntariado_2.jpg" alt="Foto ONG">
        <article class="infos">
            <p class="infos__event">
                <ul class="infolist">
                    <li class="infolist__item">
                        <span class="infolist__text">ONG Organizadora: {{organizador}}</span>
                    </li>
                    <li class="infolist__item">
                        <span class="infolist__text">Pessoa responsável: {{event.name}}</span>
                    </li>
                </ul>
            </p>
        </article>
    </div>
</section>